<b:style src="./dashboard.css"/>

<div>
  <h3>Top Heroes</h3>
  <div>

    <label for="search">
        Search: <input type="text" id="search" event-input="search">
    </label>
  </div>
  <div class="grid grid-pad">
    <!--{childNodesHere}-->
  </div>
</div>
