.col {
  box-sizing: border-box;
  margin-top: 20px;
}

.col:nth-child(odd) {
  padding-right: 10px;
}

.col:nth-child(even) {
  padding-left: 10px;
}

a {
  text-decoration: none;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col {
  width: 50%;
  display: inline-block;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  background-color: #da9b85;
  font-weight: bold;
  border-radius: 2px;
}
.module:hover {
  background-color: #c37c5e;
  cursor: pointer;
  color: white;
}
.grid-pad {
  /* padding: 10px 0; */
}
