li {
  cursor: pointer;
  position: relative;
  background-color: #da9b85;
  margin: 8px 0;
  color: white;
  height: 1.6em;
  border-radius: 4px;
  display: table;
  width: 100%;
}
li.selected:hover {
  background-color: #c37c5e;
  color: white;
}
li:hover {
	color: white;
	background-color: #c37c5e;
	left: .1em;
}
.text {
	position: relative;
	top: -3px;
}
.badge {
	font-size: small;
	color: white;
	text-align: center;
	background-color: #587e74;
	line-height: 1em;
	position: relative;
	margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width:25px;
  vertical-align: middle;
  display: table-cell;
}
.title {
  vertical-align: middle;
  padding-left: 5px;
  display: table-cell;
  font-weight: bold;
}

.selected {
  background-color: #c37c5e;
  color: white;
}
