li {
	cursor: pointer;
	position: relative;
	background-color: #EEE;
	margin: .5em;
	height: 1.6em;
  border-radius: 4px;
  display: table;
  width: 200px;
}
li.selected:hover {
	background-color: #BBD8DC !important;
	color: white;
}
li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}
.text {
	position: relative;
	top: -3px;
}
.badge {
	font-size: small;
	color: white;
	text-align: center;
	background-color: #607D8B;
	line-height: 1em;
	position: relative;
	margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width:25px;
  vertical-align: middle;
  display: table-cell;
}
.title {
  vertical-align: middle;
  padding-left: 5px;
  display: table-cell;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
