<div>
	<h1>{title}</h1>
	<h2>{name} is a hero!</h2>
	<div><label>Id: </label>{id}</div>
	<div>
		<label>Name: </label>
		<input value="{name}" event-input="setHeroName" placeholder="Enter name">
	</div>
</div>
