<div>
  <h2>{title} is a hero!</h2>
  <div><label>Id: </label>{id}</div>
  <div>
    <label>title: </label>
    <input value="{title}" event-input="setHeroName" placeholder="Enter name" />
  </div>
</div>
