nav {
  text-align: center;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  margin: 0 10px;
  background-color: #da9b85;
  color: white;
  border-radius: 4px;
}
nav a:visited {
  color: #c37c5e;
  box-shadow: 1px 1px 4px 0px #000;
}
nav a:hover {
  color: wthie;
  background-color: #da9b85;
}
a.selected {
  color: white;
  background: #c37c5e;
}
